<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="employees" routerLinkActive="active" class="nav-link"
        >Employee List</a
      >
    </li>
    <li>
      <a routerLink="create-employee" routerLinkActive="active" class="nav-link"
        >Add Employee</a
      >
    </li>
  </ul>
</nav>

<h1 class="text-center">{{ title }}</h1>
<div class="container">
  <router-outlet></router-outlet>
  <!-- nach hinzufügen von routings in app.routes.ts wichtig -->
</div>
<footer class="footer">
  <div class="container">
    <span></span>
  </div>
</footer>
